.container
{
    width: 1336px;
    margin: 0 auto;
    background-color: black;
}

.navbar
{   
    width: 1200px;
    margin: 0 auto;

    .nav
    {
        display: flex;

        .navimg
        {
            display: flex;
            justify-content: center;
            align-items: center;

            .imgs1
            {
                color: #fff;
                margin-left: 12px;
            }
        }

        .nav-ul
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            margin: 0 auto;

            .nav-li
            {
                display: flex;
                list-style: none;

                .nav-a
                {
                    text-decoration: none;
                    color: #fff;
                    margin-left: 12px;
                }

                .nav-a1
                {
                    text-decoration: none;
                    color: #306EF7;
                    margin-left: 12px;
                }

            }
        }


        .nav-sign
        {
            display: flex;
            justify-content: center;
            align-items: center;

            .sign 
            {
                margin-left: 12px;
                color: #fff;
                text-decoration: none;
            }
            
            .sign1
            {
                margin-left: 12px;
                text-decoration: none;
                color: #fff;
                background: #306EF7;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 40px;
                border-radius: 5px;
                box-shadow: 0.3px 0.3px;
            }
        }
    }


    .bir    
    {
        width: 700px;
        margin: 0 auto;

        .birh1
        {
            margin-left: 30px;
            color: white;
            font-size: 70px;
        }

        .birh2
        {
            font-size: 70px;
            color: #FFBF84;
            margin-top: -60px;

            

        }
    }

    .buttons
    {
        width: 370px;
        margin: 0 auto;

        .buttontxt
        {

            .buttontxt1
            {
                color: #fff;
                font-size: 25px;

                .buttonsspan
                {
                    margin-left: 50px;
                }
            }
        }
        .buttona
        {
            display: flex;  
            width: 270px;
            margin: 0 auto;


            .buttona1
            {
                background-color: #306EF7;
                width: 120px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                box-shadow: 0.3px 0.3px;

                .buttona2
                {
                    text-decoration: none;
                    color: #fff;
                    font-size: 12px;
                }
            }

            .buttona3
            {
                border: solid;
                margin-left: 12px;
                width: 120px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                border-width: 1px;
                box-shadow: 0.3px 0.3px;
                border-color: #707070;


                .buttona4
                {
                    text-decoration: none;
                    color: #707070;
                    font-size: 12px;
                }
            }
        }
    }

    .dot
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 0 auto;

        .dotimg
        {
            display: flex;
            justify-content: center;
            align-items: center;
            .dotimg1
            {
                width: 18px;
            }
        }

        .dottext
        {
            margin-left: 10px;

            .dottext1
            {
                color: #fff;
            }
        }

        .dottxt 
        {
            margin-left: 10px;
            .dottxt1 
            {
                color: #707070;

            }
        }
    }
}

.ikki
{
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;

    .ikkitext
    {
        width: 360px;
        margin: 0 auto;

        .ikkitext1
        {
            color: #fff;
            font-size: 30px;
        }

    }

    .ikkitxts
    {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .ikkitxt1 
        {

            .ikkip
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 250px;

                .ikkitxt2
                {
                    width: 20px;
                }

                .ikkitxt3
                {
                    margin-left: 5px;
                    color: #fff;
                }
            }

            .ikkip1
            {
                width: 300px;
                margin-top: -20px;

                .ikkip2
                {
                    color: #707070;
                }
            }
        }
    }


    .ikkisteps
    {
        width: 900px;
        margin: 0 auto;
        margin-top: 100px;


        .ikkistep 
        {
            width: 80px;
            margin: 0 auto;


            .ikkistep1
            {
                color: #306EF7;
                font-size: 20px;
            }
        }

        .step 
        {
            width: 350px;
            margin: 0 auto;

            .step1 
            {
                color: #fff;
            }
        }


        .step2
        {
            width: 500px;
            margin: 0 auto;

            .step3
            {
                color: #707070;
            }
        }

        .step4
        {
            width: 250px;
            margin: 0 auto;
            height: 40px;
            border: solid;
            border-radius: 5px;
            border-color: #707070;
            border-width: 1px;
            box-shadow: 0.3px 0.3px;
            display: flex;
            justify-content: center;
            align-items: center;


            .step5
            {
                color: #707070;
                text-decoration: none;
            }

        }
    }
}


.uch    
{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;


    .uch1
    {
        width: 650px;

        .uchtext
        {
            width: 300px;
            margin: 0 auto;

            .uchtext1
            {
                color: #fff;
                font-size: 20px;
            }
        }

        .uchtext2
        {
            width: 300px;
            margin: 0 auto;

            .uchtext3
            {
                color: #fff;
                font-size: 40px;
            }
        }


        .uchtext4
        {
            width: 300px;
            margin: 0 auto;
            
            .uchtext5
            {
                margin-top: -20px;
                color: #fff;
                font-size: 40px;

                .uchtextspan
                {
                    color: #306EF7;
                }
            }
        }

        .uchtext8
        {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 80px;

            .uchtext10
            {
                margin-left: 12px;
                color: #fff;
            }

            .uchtext9
            {
                width: 25px;
            }
        }

        .uchtext11
        {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;

            .uchtext13
            {
                margin-left: 12px;
                color: #fff;
            }

            .uchtext12
            {
                width: 25px;
            }
        }

        .uchtext14
        {
            width: 680px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;


            .uchtext15
            {
                background-color: #306EF7;
                width: 150px;
                height: 40px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0.3px 0.3px;


                .uchtext16
                {
                    color: #fff;
                    text-decoration: none;
                }
            }

            .uchtext17
            {
                border: solid;
                border-color: #707070;
                border-width: 1px;
                width: 150px;
                height: 40px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0.3px 0.3px;
                margin-left: 20px;


                .uchtext18
                {
                    color: #707070;
                    text-decoration: none;
                }
            }
        }
    }


    .uch2 
    {



        .uch3 
        {
            width: 600px;
        }
    }
}
.share,.rest{
    color: white;
}
.step2{
    color: #306EF7;
    font-size: 20px;
    width: 100px;
    margin: 0 auto;
}
.share{
    width: 350px;
    margin: 0 auto;
    font-size: 22px;
}
.rest{
    width: 450px;  
    margin: 0 auto;  
    color: #707070;
    font-size:17px;
}
.handle{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: #707070;
    font-size: 17px;
}
.card1{ 
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 80px;
    border: solid;
    border-color: #0D0D0D;
    background-color: #0D0D0D;
    .haw2{
        font-size:33px;
        color: #707070;
        margin-left: 50px;
    }
    .haw23{
        font-size: 33px;
        color: white;
        margin-left: 50px;
        margin-top: -20px;
    }
}
.photo{
    width: 400px;
    margin-left: 80px;
}
.href{
    margin-top: 20px;
    margin-left: 60px;
}
.one{
    text-decoration: none;
    color: #0FC65C;
}
.card2{
   width: 620px;
   margin: 0 auto;
   margin-right: 100px;
   margin-top: 80px;
    border: solid;
    border-color:#0D0D0D;
    background-color: #0D0D0D;
    .collect{
        margin-top: 20px;
        margin-left: 60px;
    }
    .emoji{
        text-decoration: none;
        color: #0FC65C;
    } 
}
.sss{
    margin-left: 50px;
    color: #707070;
    margin-top: 60px;
    font-size: 23px;
    margin-top: 100px;
}
.logo{
    margin-left: 50px;
    color: white;
    font-size: 23px;
    margin-top: -20px;
}
.cards{
    display: flex;
}
.knopka{
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
}
.get{
    width: 150px;
    height: 40px;  
    border: solid;
    border-color: #326CF9;
    border-radius: 10px;
    background-color: 
    #326CF9;
}
.started{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.stip3{
    width: 100px;
    margin: 0 auto; 
    color: #306EF7;
    font-size:19px;
}
.email{
    width: 500px;
    margin: 0 auto ;
    color: white;
    font-size: 25px;
    margin-left: 100x;
}
.more{
    width: 450px;
    margin: 0 auto;
    color: #707070;
    font-size: 17px;
    margin-top: -13px;
}
.over{
    width: 400px;
    margin: 0 auto;
    color: #707070;
    font-size: 17px;
    margin-top: -10px;
}

.tort  
{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.uch    
{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;


    .uch1
    {
        width: 650px;

        .uchtext
        {
            width: 300px;
            margin: 0 auto;

            .uchtext1
            {
                color: #fff;
                font-size: 20px;
            }
        }

        .uchtext2
        {
            width: 350px;
            margin: 0 auto;

            .uchtext3
            {
                color: #fff;
                font-size: 40px;
            }
        }


        .uchtext4
        {
            width: 500px;
            margin-left: 150px;
            
            .uchtext5
            {
                margin-top: -20px;
                color: #fff;
                font-size: 40px;

                .uchtextspan
                {
                    color: #306EF7;
                }
            }
        }

        .uchtext8
        {
            margin-right: 80px;

            .uchtext10
            {
                margin-left: 12px;
                color: #fff;
            }

            .uchtext9
            {
                width: 25px;
            }
        }

        .uchtext11
        {
            margin-right: 20px;

            .uchtext13
            {
                margin-left: 12px;
                color: #fff;
            }

            .uchtext12
            {
                width: 25px;
            }
        }

        .uchtext14
        {
            width: 680px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;


            .uchtext15
            {
                background-color: #306EF7;
                width: 150px;
                height: 40px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0.3px 0.3px;


                .uchtext16
                {
                    color: #fff;
                    text-decoration: none;
                }
            }

            .uchtext17
            {
                border: solid;
                border-color: #707070;
                border-width: 1px;
                width: 150px;
                height: 40px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0.3px 0.3px;
                margin-left: 20px;


                .uchtext18
                {
                    color: #707070;
                    text-decoration: none;
                }
            }
        }
    }


    .uch2 
    {



        .uch3 
        {
            width: 550px;
        }
    }
}
.view{
    width: 300px;
    margin: 0 auto;
    color: white;
    margin-top: 80px;
    font-size: 45px;
}
.rasmlar{
    margin-top: 50px;
    .kop{
        width:1200px;
        margin-left: 100px;
    }
}

.helped{
    background-image: url('odamlar.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    margin-top: 100px;
    .out{
      width: 550px;
      margin: 0 auto;
      color: white; 
      font-size: 35px;
      padding-top: 9em;
    }
    .min{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.avto{
    width: 400px;
}
.songgi{
    width: 450px;
    margin: 0 auto;
    cursor: pointer;
}
.marico{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
}
.h4{
    color: white;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 25px;
}
.screen{
    color: #707070;
    margin-left: -42px;
    margin-top: -7px;
}
.pi1,.pi3,.pi4{
    color: #707070;
}
.pi2{
    color:#306EF7;
}
.pilar{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;    
}